/* ItemCount.css */

.Counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px; 
  margin-bottom: 10px;
}

.Button {
  background-color: #008cba;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.Number {
  margin: 0 10px;
}

.centerOption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
